<html>

<head>
    <title>Search Result</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <style>
    .product-card {

            text-align: center;
            transition: transform 0.2s;
        }
        .product-card:hover {
            transform: scale(1.05);
        }
  </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <br/>
    </br/>
    <div class="container">
        <div class="col-md-8 offset-md-2">
            {% if query %}
            <h2>
{% with results.count as total_results %}
Найдено деталей: {{ total_results }}
{% endwith %}
</h2>

            {% for detail in results %}
            <div class="col-md-4 mb-4">
                        <div class="product-card">
                            <a href="{% url 'detail_detail' detail.pk %}" style="display: block; text-decoration: none; color: inherit;">>
                            <img class="product-image img-fluid" src="{{detail.image.url}}" alt="{{detail.name}}">
                            <h2 class="product-title">{{detail.name}}</h2>
                            <b class="product-price">Цена: {{detail.price}}</b>

                        </div>
                    </div>
          {% endfor %} {% endif %}
          <a href="{%url 'index' %}">На главную </a>
        </div>
    </div>
</body>
<html>